/*
  Bootstrap overwrites

  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  color: var(--bs-body-color);
*/

.card {
  /*margin: 20px;*/
  max-height: 400px;
  width: 22%;
  position: relative;
  display: flex;
  margin: 1%;
}

.card-body {
  padding: 15px;
  overflow: scroll;
}

.card-title {
  --bs-card-title-color: var(--bs-primary) !important;
  max-height: 110px;
  overflow: scroll;
  margin-bottom: 0;
}

.list-group-item {
  overflow: scroll;
}

/*
  End of bootstrap overwrites
*/

#btn_createGroup {
  padding: 0.45rem 1rem;
  font-size: 1.5rem;
  border-radius: 8px;
  font-weight: 600;
}

.groups-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

#repeating_cards {
  display: flex;
  flex-wrap: wrap;
}

.groups-list {
  max-width: 75%;
}

.group-item {
  background: #fff;
  border: 1px solid #ddd;
  padding: 0.8rem 1rem;
  margin-bottom: 0.6rem;
}

.group-item a {
  text-decoration: none;
  font-weight: 600;
  color: var(--bs-secondary);
}

/* create group page */
#description-label {
  margin-top: 20px;
}

#submitBtn {
  margin-top: 20px;
}

@media (max-width: 600px) {
  .groups-header-row {
    display: block !important;
  }
  #repeating_cards {
    display: block !important;
  }
  .card {
    width: 100% !important;
  }
}
