    /* styling specifically for the navbar/header */

    /*  var -> element
    #var -> id
    .var -> class */

    header {
        position: sticky;
        top: 0;
    }
    
    .custom-nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .nav-link {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .nav-link:hover {
        background-color: #111111;
    }
