/* 
    styling specifically for the login-page
*/

.login-form {
  margin: auto;
  margin-top: 25%;
  width: 50%;
  padding: 30px;
  background-color: whitesmoke;
  border: solid 2px var(--bs-primary);
  border-radius: 20px;
  box-shadow: 5px 5px 50px var(--bs-primary);
}

.centered {
  display: flex;
  height: 50%;
}

.seperator {
  width: 50%;
}

body {
  background-image: url("../images/albert1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 900px) {
  .login-form {
    margin-top: 40%;
    width: 90%;
  }
  .centered {
    display: block !important;
  }
  .seperator {
    width: 100% !important;
  }
}
