/* 
Author: Merlijn Van Suetendael

This file contains the main ccs conventions used throughout the whole fellowships site 
*/

/*  var -> element
    #var -> id
    .var -> class */

    body {
        background-color: #E5E4E2;

        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: black;

        padding-left: 20px;
        padding-top: 20px;
    }

    hr {
        margin-top: 40px;
        color: #728FCE;
    }

    .page_header{
        font-size: 50px;
        color: darkslategray;
        font-weight: bold;
    }

    .Main_tab {
        margin-top: 40px;
    }

    .tab_header {
        font-size: 34px;
        color: #728FCE; /*light purple blue*/
    }

    .hidden {
        visibility: hidden;
    }

    