<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/FS_Standard_Head'); %>
    <link rel="stylesheet" href="/css/FS_FAQ.css" />
    <script
      src="https://kit.fontawesome.com/793f02755a.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/FS_FAQ.js" type="module"></script>
    <title>FAQ - Fellowships</title>
  </head>

  <header><%- include('../partials/FS_Header'); %></header>

  <div class="main-content-wrapper">
    <body>
      <div class="main_div">
        <div class="page_header text-secondary" id="FAQpage_header">FAQ</div>

        <ul class="revealable_list" id="FAQpage_dorpdown_list">
          <li class="revealable_list_item">
            <div class="revealable_list_item_header">
              <i
                class="fa-sharp fa-solid fa-chevron-down chevron"
                id="chevron-down"
              ></i>
              <i
                class="fa-sharp fa-solid fa-chevron-up chevron"
                id="chevron-up"
              ></i>
              Eerste
            </div>
            <div id="revealable_list_item_contents">Lorem ipsum</div>
          </li>

          <li class="revealable_list_item">
            <div class="revealable_list_item_header">
              <i
                class="fa-sharp fa-solid fa-chevron-down chevron"
                id="chevron-down"
              ></i>
              <i
                class="fa-sharp fa-solid fa-chevron-up chevron"
                id="chevron-up"
              ></i>
              Tweede
            </div>
            <div id="revealable_list_item_contents">Lorem ipsum</div>
          </li>

          <li class="revealable_list_item">
            <div class="revealable_list_item_header">
              <i
                class="fa-sharp fa-solid fa-chevron-down chevron"
                id="chevron-down"
              ></i>
              <i
                class="fa-sharp fa-solid fa-chevron-up chevron"
                id="chevron-up"
              ></i>
              Derde
            </div>
            <div id="revealable_list_item_contents">Lorem ipsum</div>
          </li>
        </ul>
      </div>
    </body>
  </div>

  <footer><%- include('../partials/FS_Footer'); %></footer>
</html>
