<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="FS_Main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/793f02755a.js" crossorigin="anonymous"></script>
    <script src="FS_FAQ.js" type="module"></script>
    <title>FAQ</title>
</head>
<!--Nav balk-->
<body>
    <div class="page_header" id="FAQpage_header"> FAQ </div>

    <ul class="revealable_list" id="FAQpage_dorpdown_list">

        <li class="revealable_list_item"> 
            <div class="revealable_list_item_header"> 
                <i class="fa-sharp fa-solid fa-chevron-down chevron" id="chevron-down"></i> <i class="fa-sharp fa-solid fa-chevron-up chevron" id="chevron-up"></i> 
                Eerste 
            </div>
            <div class="revealable_list_item_contents">
                Lorem ipsum 
            </div> 
        </li>

        <li class="revealable_list_item">
            <div class="revealable_list_item_header"> 
                <i class="fa-sharp fa-solid fa-chevron-down chevron" id="chevron-down"></i> <i class="fa-sharp fa-solid fa-chevron-up chevron" id="chevron-up"></i> 
                Tweede 
            </div>
            <div class="revealable_list_item_contents"> 
                Lorem ipsum 
            </div> 
        </li>

        <li class="revealable_list_item"> 
            <div class="revealable_list_item_header">
                <i class="fa-sharp fa-solid fa-chevron-down chevron" id="chevron-down"></i> <i class="fa-sharp fa-solid fa-chevron-up chevron" id="chevron-up"></i> 
                Derde
            </div>
            <div class="revealable_list_item_contents"> 
                Lorem ipsum 
            </div> 
        </li>

    </ul>
</body>
<!--Footer-->
</html>