<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/FS_Standard_Head'); %>
    <link rel="stylesheet" href="/css/FS_FAQ.css" />
    <script
      src="https://kit.fontawesome.com/793f02755a.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/FS_FAQ.js" type="module"></script>
    <title>FAQ - Fellowships</title>
  </head>

  <header><%- include('../partials/FS_Header'); %></header>

  <div class="main-content-wrapper">
    <body>
      <div class="main_div">
        <div class="page_header text-primary" id="FAQpage_header">FAQ</div>

        <hr style="width: 85%" />

        <ul class="revealable_list" id="FAQpage_dorpdown_list">
          <li class="revealable_list_item">
            <div class="revealable_list_item_header">
              <i
                class="fa-sharp fa-solid fa-chevron-down chevron"
                id="chevron-down"
              ></i>
              <i
                class="fa-sharp fa-solid fa-chevron-up chevron"
                id="chevron-up"
              ></i>
              The map isn't showing anything
            </div>
            <div id="revealable_list_item_contents" style="width: 80%">
              There are could be multiple reasons for this. First, check that
              you selected any of the filters at the top. If you did, there is a
              chance there aren't any shops, hotels, etc. at that location. If
              you're sure there are, this could be an error on our side. If the
              last is the reason, we're working on a fix as we speak... Or
              rather as you're reading this.
            </div>
          </li>

          <li class="revealable_list_item">
            <div class="revealable_list_item_header">
              <i
                class="fa-sharp fa-solid fa-chevron-down chevron"
                id="chevron-down"
              ></i>
              <i
                class="fa-sharp fa-solid fa-chevron-up chevron"
                id="chevron-up"
              ></i>
              The group I was in disappeared
            </div>
            <div id="revealable_list_item_contents" style="width: 80%">
              This can be because the group you were in has been deleted by the
              owner or you were kicked from the group.
            </div>
          </li>

          <li class="revealable_list_item">
            <div class="revealable_list_item_header">
              <i
                class="fa-sharp fa-solid fa-chevron-down chevron"
                id="chevron-down"
              ></i>
              <i
                class="fa-sharp fa-solid fa-chevron-up chevron"
                id="chevron-up"
              ></i>
              I can't see any events
            </div>
            <div id="revealable_list_item_contents" style="width: 80%">
              This could be because you aren't in a group or your groups don't
              have any events yet. If they do, the date and time of the events
              and could be in the past. Try making a new event and see if it
              appears on the events page.
            </div>
          </li>

          <li class="revealable_list_item">
            <div class="revealable_list_item_header">
              <i
                class="fa-sharp fa-solid fa-chevron-down chevron"
                id="chevron-down"
              ></i>
              <i
                class="fa-sharp fa-solid fa-chevron-up chevron"
                id="chevron-up"
              ></i>
              Shippy doesn't work
            </div>
            <div id="revealable_list_item_contents" style="width: 80%">
              This is a common bug, the api we use (photon) sometimes just
              doesn't work. Shippy is an experimental feature. If it doesn't
              work, try again later.
            </div>
          </li>
        </ul>

        <div class="page_header text-primary" id="FAQpage_header">About us</div>

        <hr style="width: 85%" />

        <p style="width: 80%">
          Wij zijn Merlijn Van Suetendael en Gerben Geurts. Wij zijn twee
          studenten informatica aan de Uhasselt en wij hebben deze site gemaakt
          voor ons vak Web Development. Deze site is gemaakt in ongeveer twee
          maanden en een beetje. Mocht u, de gebruiker de site niet mooi vinden,
          dan hedde pech!
        </p>

        <p style="width: 80%">
          Aan de G-Man wil ik zeggen: bedankt voor het groepswerk en uw inzet.
          Zonder u had ik dit niet kunnen doen. Ik hoop dat we in de toekomst
          meer groepswerken samen kunnen doen. Ik hoop dat jij evenveel fun hebt
          gehad als mij en dat je niet al te veel last van mij hebt gehad.
        </p>
      </div>
    </body>
  </div>

  <footer><%- include('../partials/FS_Footer'); %></footer>
</html>
