<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/FS_Standard_Head'); %>
    <title>Home - Fellowships</title>
</head>

<header>
  <%- include('../partials/FS_Header'); %>
</header>
<div class="main-content-wrapper">
    <body>
        <div class="main_div">
            <div class="page_header"> Home </div>

            <div class="main_tab">

                <h1> <a href="FS_Announcements.html" class="tab_header"> Anouncements </a> </h1>
                <div> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore optio soluta quia dolore beatae esse, reprehenderit nam expedita distinctio sapiente enim fuga eaque, 
                    nisi iste totam sequi molestiae asperiores laudantium. </div>

            </div>

            <hr>

            <div class="main_tab">

                <h1 id="Homepage_Groups_h1"> <a href="/groups" class="tab_header"> Groups </a> </h1>

                <div> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore optio soluta quia dolore beatae esse, reprehenderit nam expedita distinctio sapiente enim fuga eaque, 
                    nisi iste totam sequi molestiae asperiores laudantium. </div>

            </div>

            <hr>

            <div class="main_tab">

                <h1> <a href="/events" class="tab_header"> Events </a> </h1>
                <div> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore optio soluta quia dolore beatae esse, reprehenderit nam expedita distinctio sapiente enim fuga eaque, 
                    nisi iste totam sequi molestiae asperiores laudantium. </div>

            </div>

        </div>
    </body>
</div>

<footer>
    <%- include('../partials/FS_Footer'); %>
</footer>

</html>