<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/FS_Main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<!--Nav balk-->
<body>
    <div class="main_Div" id="Homepage_main_div">
        <div class="page_header" id="Homepage_header"> Home </div>

        <div class="main_tab" id="Homepage_Announcements_div">

            <h1 id="Homepage_Announcements_h1"> <a href="FS_Announcements.html" class="tab_header"> Anouncements </a> </h1>
            <div> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore optio soluta quia dolore beatae esse, reprehenderit nam expedita distinctio sapiente enim fuga eaque, 
                nisi iste totam sequi molestiae asperiores laudantium. </div>

        </div>

        <hr>

        <div class="main_tab" id="Homepage_Groups_div">

            <h1 id="Homepage_Groups_h1"> <a href="FS_Groups.html" class="tab_header"> Groups </a> </h1>
            <div> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore optio soluta quia dolore beatae esse, reprehenderit nam expedita distinctio sapiente enim fuga eaque, 
                nisi iste totam sequi molestiae asperiores laudantium. </div>

        </div>

        <hr>

        <div class="main_tab" id="Homepage_Events_div">

            <h1 id="Homepage_Events_h1"> <a href="FS_Events.html" class="tab_header"> Events </a> </h1>
            <div> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore optio soluta quia dolore beatae esse, reprehenderit nam expedita distinctio sapiente enim fuga eaque, 
                nisi iste totam sequi molestiae asperiores laudantium. </div>

        </div>

    </div>
</body>
<!--Footer-->
<a href="FS_FAQ.html" class="tab_header"> FAQ </a>
</html>