<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/FS_Standard_Head'); %>
    <title>Map - Fellowships</title>
</head>

<header>
  <%- include('../partials/FS_Header'); %>
</header>
<div class="main-content-wrapper">
    <body>
        <div class="main_div">
            <div class="page_header"> Awesome map here </div>
        </div>
    </body>
</div>

<footer>
    <%- include('../partials/FS_Footer'); %>
</footer>

</html>